apiVersion: v1
kind: Service
metadata:
  name: {{ include "greye.fullname" . }}
  labels:
    {{- include "greye.labels" . | nindent 4 }}
spec:
  clusterIP: None
  selector:
    {{- include "greye.selectorLabels" . | nindent 4 }}
  ports:
    - port: {{ .Values.service.port }}
      name: http
      targetPort: http

---

apiVersion: v1
kind: Service
metadata:
  name: {{ include "greye.fullname" . }}-0
  labels:
    greye-application: "true"
    {{- include "greye.labels" . | nindent 4 }}
  {{- if and (gt (int .Values.replicaCount ) 1)  (eq (len .Values.cluster.ip) 0 )}}
  annotations:
    ge-enabled: "true"
    ge-forcePodMonitor: {{ include "greye.fullname" . }}-1.{{ include "greye.fullname" . }}
    ge-paths: |-
      /api/v1/application/monitor
  {{- end }}
spec:
  type: NodePort
  ports:
    - port: {{ .Values.service.port }}
      nodePort: 32473
      targetPort: http
      protocol: TCP
      name: http
  selector:
    "statefulset.kubernetes.io/pod-name": "{{ include "greye.fullname" . }}-0"
    {{- include "greye.selectorLabels" . | nindent 4 }}

---

{{- if gt (int .Values.replicaCount ) 1 }}
{{- $root := . }} # Save root context
{{- range $i := until (.Values.replicaCount | int) }}
  {{- if ne $i 0 }}  # Skip greye-0
apiVersion: v1
kind: Service
metadata:
  name: {{ printf "%s-%d" (include "greye.fullname" $root) $i }}
  labels:
    greye-application: "true"
    {{- include "greye.labels" $root | nindent 4 }}
  annotations:
    ge-enabled: "true"
    ge-forcePodMonitor: {{ include "greye.fullname" $root }}-0.{{ include "greye.fullname" $root }}
    ge-paths: |-
      /api/v1/application/monitor
spec:
  type: NodePort
  ports:
    - port: {{ $root.Values.service.port }}
      targetPort: {{ $root.Values.service.targetPort }}
      protocol: TCP
      name: http
  selector:
    "statefulset.kubernetes.io/pod-name": "{{ include "greye.fullname" $root }}-{{ $i }}"
    {{- include "greye.selectorLabels" $root | nindent 4 }}
---
  {{- end }}
{{- end}}
{{- end}}

